/* Import bootstrap 3 mixins and variables */
@import "build/variables.less";
@import "build/bootstrap.less";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Import our theme variables and styles. */
@import "presets/defaults.less";
@import "build/mixins.less";
@import "build/common.less";
@import "build/typography.less";
@import "build/header.less";
@import "build/blocks/carousel.less";
@import "build/blocks/instagram_feed.less";
@import "build/blocks/tile.less";
@import "build/blocks/social_links.less";
@import "build/blocks/merchant_map.less";
@import "build/blocks/kml_map.less";
@import "build/blocks/horizontal_rule.less";
@import "build/blocks/page_list.less";
@import "build/blocks/pro_event_list.less";
@import "build/home.less";
@import "build/interior.less";
@import "build/footer.less";
@import "build/sprites.less";

@import "build/merchant.less";

/* Fonts */
@import ~"@{preset-fonts-file}";

div.ccm-page {
  position: relative;
}