.folder-1 > ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
.folder-1 > ul > input {
  margin-top: 0;
}

.folder-1 > ul:before {
  width: 30px;
  height: 30px;
  content: " ";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 25px;
}
/*

## Main Parking

.folder-1 > ul.f--1-Hour:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/1-Hour.png');
}
.folder-1 > ul.f--10-Hour-Meters:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/10-Hour-Meters.png');
}
.folder-1 > ul.f--2-Hour-Meters:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/2-Hour-Meters.png');
}
.folder-1 > ul.f--3-Hour-Meters:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/3-Hour-Meters.png');
}
.folder-1 > ul.f--30-Minute-Meters:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/30-Minute-Meters.png');
}
.folder-1 > ul.f--4-Hour-Meters:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/4-Hour-Meters.png');
}
.folder-1 > ul.f--Loading-Zone:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Loading-Zone.png');
}
.folder-1 > ul.f--Handicap:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Handicap.png');
}
.folder-1 > ul.f--Garage-Parking:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Garage-Parking.png');
}
.folder-1 > ul.f--Permit-Parking-Lot:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Permit-Parking-Lot.png');
}

## Bike

.folder-1 > ul.f--Inverted-U-or-Horned-Bollard:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Inverted-U-or-Horned-Bollard.png');
}
.folder-1 > ul.f--Bike-Lockers:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Bike-Lockers.png');
}

## Munson

.folder-1 > ul.f--10-Hour:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/10-Hour-Meters.png');
}
.folder-1 > ul.f--2-Hour:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/2-Hour-Meters.png');
}
.folder-1 > ul.f--4-Hour:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/4-Hour-Meters.png');
}

##  NMC

.folder-1 > ul.f--NMC-Parking-Permit-Required:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/NMC-Parking-Permit-Required.png');
}
.folder-1 > ul.f--Handicap-Parking:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Handicap.png');
}
.folder-1 > ul.f--NMC-Apartment-Permit-Required:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/NMC-Apartment-Permit-Required.png');
} 
.folder-1 > ul.f--Gated-Parking:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Gated-Parking.png');
}
.folder-1 > ul.f--1-Hour-Metered-Parking:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/1-Hour.png');
}
.folder-1 > ul.f--2-Hour-Signed-Parking:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/NMC-Onstreet.png');
}
.folder-1 > ul.f--Restricted-Parking:before {
  background-image: url('/packages/theme_dda/blocks/kml_map/images/Restricted.png');
}

*/
